
# dependencies
node_modules

# testing


# production
build
target

# Project Files
.idea
*.iml

.project
.classpath

# Log
*.log*

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# executable file
Packages
